
body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/021/692/542/non_2x/math-formulas-mathematical-formulas-on-green-school-chalkboard-handwritten-scientific-math-equations-theories-or-calculations-background-vector.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;    
    margin: 5%;
    font-weight: bolder;
}

#myContainer{
    max-width: 400px;
    border-radius: 1em;
    border: 5px solid black;
       
}

#boton{
    border:1px solid black;
    font-weight: bolder;
}


input{
    text-align: end;
    font-size: 2em;
    height: 50px;
}
p{
    font-size: 1em;
    color: azure;
}






